In [33]:
#imports
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [34]:
wine_data = pd.read_csv('../../gw/Project_1/winemag-data-130k-v2.csv')

#wines we are searching for
white_wines = ['Riesling','Sauvignon Blanc','White Blend','Chardonnay']
red_wines = ['Merlot', 'Sangiovese', 'Red Blend', 'Pinot Noir']
white_data = wine_data.loc[wine_data['variety'].isin(white_wines)]
red_data = wine_data.loc[wine_data['variety'].isin(red_wines)]
top_range = 95

top_white_wines = white_data[white_data['points'] >= top_range]
top_red_wines = red_data[red_data['points'] >= top_range]
top_wines = wine_data[wine_data['points'] >= top_range]

In [35]:
# bougiest white wines (by points and price)
whites_bougiest = white_data.groupby(['country'])['points', 'price'].mean().round(2)
whites_b_sorted = whites_bougiest.sort_values('points', ascending = False)
whites_b_sorted = whites_b_sorted.reset_index()
whites_b_sorted = whites_b_sorted.head(10)
whites_value_counts = pd.DataFrame(white_data['country'].value_counts())
whites_value_counts = whites_value_counts.reset_index()
whites_value_counts = whites_value_counts.rename(columns={'country':'value count', 'index':'country'})
whites_merge = whites_b_sorted.merge(whites_value_counts, on='country')
whites_merge

       country  points  price  value count
0      England   92.05  53.06           20
1      Austria   90.93  36.04          842
2      Hungary   90.47  27.68           19
3      Germany   90.08  44.07         1804
4  Switzerland   90.00  21.00            1
5        India   89.50  12.00            2
6       France   89.15  44.58         4714
7       Canada   89.08  29.98           95
8   Luxembourg   88.33  20.67            3
9  New Zealand   88.15  20.62          714

In [36]:
# bougiest red wines (by points and price)
reds_bougiest = red_data.groupby(['country'])['points', 'price'].mean().round(2)
reds_b_sorted = reds_bougiest.sort_values('price', ascending = False)
reds_b_sorted = reds_b_sorted.reset_index()
reds_b_sorted = reds_b_sorted.head(10)
reds_value_counts = pd.DataFrame(red_data['country'].value_counts())
reds_value_counts = reds_value_counts.reset_index()
reds_value_counts = reds_value_counts.rename(columns={'country':'value count', 'index':'country'})
reds_merge = reds_b_sorted.merge(reds_value_counts, on='country')
reds_merge

          country  points   price  value count
0     Switzerland   87.50  129.50            4
1          France   89.41   70.50         2385
2         England   91.86   50.14            7
3  Czech Republic   89.00   45.00            2
4           Italy   88.82   44.47         6045
5          Mexico   87.60   42.73           15
6          Serbia   89.00   40.67            3
7              US   88.88   39.72        15601
8         Hungary   87.70   38.00           10
9         Lebanon   87.94   37.19           16