In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('whites_and_reds.csv')
df = df.drop(columns=['Unnamed: 0'])
df = df.dropna(axis=0, how='any')
df.head()

,wine,variety,country,points,price,taster,twitter handle
2,Mirassou 2012 Chardonnay (Central Coast),Chardonnay,US,87,12.0,Matt Kettmann,@mattkettmann
3,Mirassou 2012 Chardonnay (Central Coast),Chardonnay,US,87,12.0,Matt Kettmann,@mattkettmann
5,Baglio di Pianetto 2007 Ficiligno White (Sicilia),White Blend,Italy,87,19.0,Kerin O’Keefe,@kerinokeefe
6,Stemmari 2013 Dalila White (Terre Siciliane),White Blend,Italy,87,13.0,Kerin O’Keefe,@kerinokeefe
15,Souverain 2010 Chardonnay (North Coast),Chardonnay,US,85,14.0,Virginie Boone,@vboone

In [10]:
bougiest = df.groupby(['country'])['points', 'price'].max()
bougiest.sort_values('points', ascending = False)

                points   price
country
France             100  2500.0
Italy              100   800.0
US                  98  2013.0
Austria             97   160.0
Hungary             97    80.0
Germany             97   612.0
Spain               96   450.0
Argentina           95   150.0
Australia           95   200.0
England             95    80.0
Chile               95   400.0
New Zealand         94   130.0
South Africa        94   100.0
Canada              94    90.0
Portugal            93    65.0
Morocco             93    25.0
Israel              93   150.0
Mexico              92   108.0
Romania             92   320.0
Greece              92    79.0
Moldova             91    42.0
Lebanon             91    75.0
Croatia             91    50.0
Bulgaria            91   100.0
Uruguay             91    60.0
India               90    12.0
Georgia             90    22.0
Slovenia            90    37.0
Switzerland         90   160.0
Turkey              90   120.0
Luxembourg          89    23.0
Czech Republic      89    45.0
Cyprus              89    18.0
Serbia              89    42.0
Brazil              89    60.0
Ukraine             88     9.0
Macedonia           87    16.0
Peru                86    68.0